@model List<Book>
@{
    ViewData["Title"] = "Library";
}
<div>
<form method="get" action="@Url.Action("SearchBooks", "Home")">
   <div class="container">
  <div class="row">
    <div class="col-6">
      <input type="search" class="form-control"  name="searchQuery" placeholder="Search by author or title" />
    </div>
    <div class="col-sm">
      <button type="submit" class="btn btn-outline-success">Search</button>
    </div>
   
  </div>
</div>
    
    
</form>
</div>
@*@if (Model == null)
{
    
}
@if (Model != null && Model.Count == 0)
{
    <div class="alert alert-warning mt-6" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No books found!
        </div>
}
@if (Model != null && Model.Count > 0)
{
    <h2>Search Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td><a class="link-info" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">@book.Title</a> </td>
                    <td><a class="link-info" asp-controller="Authors" asp-action="Details" asp-route-id="@book.AuthorId">@book.Author.Name</a>  </td>
                    <td>@book.Year</td>
                    <td>@book.Category.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
*@